<section class="page-content-container">
    <!-- <app-header></app-header> -->

    <div class="page-content-selection ">
        <app-header></app-header>
   
            <div class="form-heading-section">
                Dashboard
            </div>
            <div>
                ( {{_loggedInUser.name}} )
            </div>
            <div>
                {{_loggedInUser.emailAddress}}
            </div>

            <div *ngIf="_errorMessage ; else displaCharts" class="form-main-validation-error-message error-message-container">
                <div>
                    {{_errorMessage}}
                </div>
            </div>

            <ng-template #displaCharts>
                <div class="chart-container">
                    <div class="pie-chart-container">
                        <div>
                            <canvas id="barGraph">{{_barGraph}}</canvas>
                        </div>
                
                    </div>
                    <p>Login attempts in <b>[ Bar-Graph ] </b> </p>
                </div>
                
                <div class="chart-container">
                    <div class="pie-chart-container">
                        <div>
                            <canvas id="pieChart">{{_pieChart}}</canvas>
                        </div>
                
                    </div>
                    <p>Login attempts in <b>[Pie-Chart ] </b> </p>
                </div>

            </ng-template>


         

            <div class="alternative-url-container">
                <a class="alternative-url" [routerLinkActive]="['active']" routerLink="/account/user-profile">Profile</a> |
                <a class="alternative-url" [routerLinkActive]="['active']" routerLink="/">Signout</a>
            </div>
      
    </div>
</section>