/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;    
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: grey;
    text-align: center;  

    background-image: url('^assets/wp/1.jpg');
    background-size: cover;
    object-fit: contain;
    background-repeat: repeat;
}

.container {
    margin: auto; 
    max-width: 900px;
}

.page-content-container {
    margin: 60px 15px 20px 15px;
    padding: 15px 0px 15px 0px;
    border-radius: 15px;
    background-color: rgba(248, 249, 250, 0.8);
}

/* page content sections */
.page-content-selection {  
    margin: 5px 0px 5px 0px;   
}

/* Profile image */
.profile-image {
    max-height: 80px;
    cursor: pointer;
}

form {
    margin: 60px 20px 60px 20px ;
    margin: auto;
    max-width: 280px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(248, 249, 250, 0.9);
 }

.form-heading-section {
    color: grey;
    margin-bottom: 12px;
    font-weight: bolder;
}

/* Form common styles*/
form .form-control {
    margin-top: 7px;
    margin-bottom: 7px;
    color: grey;
}

form .form-control::placeholder {
    color: lightgrey;
    opacity: 0.5;
}

form.form-control.ng-touched.ng-invalid {
    border-left: 14px solid #42A948;
    opacity: 1;
}

.form-control:focus {
    color: lightgrey;
}

/* .form-control-icon {
    float: right;
    margin-right: 17px;
    margin-top: -34px;
    position: relative;
    z-index: 2;
    color: lightgrey;
} */

form .form-validation-error-message {
    color: red;
    font-size: 11px;
    text-align: left;
}

form .form-main-validation-error-message {
    color: red;
    font-size: 11px;
    text-align: left;
    /* text-align: center; */
}

form .submit-button {
    background-color: slategrey;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 6px;
}

form .submit-button:hover {
    background-color: red;
    color: white;
}

form .form-clear-btn {
    font-size: 13px;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 4px 0px 4px 0px;
    margin-top: 8px;
    color: grey;
    border-radius: 3px;
}

form .form-clear-btn:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.alternative-url-container {
    margin: 10px 0px 10px 0px;
    color: grey;
}

.alternative-url {
    color: orangered;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}

.alternative-url:hover {
    color: orangered;
}

.form-error-messages {
    padding: 5px;
    padding-left: 8px;
    margin-top: 4px;
    border-radius: 5px;
    color: red;
    font-size: 12px;
    border: 1px solid red;
}

.chart-container {
    margin: 10px 0px 0px 0px;
    height: 20px;
}




